<div class="container py-4 d-flex align-items-center justify-content-center">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="mt-4">
            <h1 class="fw-bold fst-italic">Carrito de Compras</h1>
        </div>
        {{#if bool}}
        <div class="row">
            <hr />
            <br />
            <div class="col-12 col-md-7">
                <ul class="list-group list-group-lg list-group-flush-x mb-6">
                    <li class="list-group-item border border-white">
                        <div class="row align-items-center">
                            {{#each arrayProductos}}
                            <form action="/links/cart" method="post">
                                <div class="card mb-2 ">
                                    <div class="row g-0">
                                        <div class="col-md-4 d-flex align-items-center justify-content-center">
                                            <img src="{{linkimg}}"
                                                class="img-fluid border border-dark rounded-circle w-75">
                                        </div>
                                        <div class="col-md-8 d-flex align-items-center justify-content-center">
                                            <div class="card-body">
                                                <div class="d-flex mb-2">
                                                    <p class="fw-bold fst-italic text-success text-decoration-none ">
                                                        {{nombre}}</p>
                                                    <span class="ms-auto fst-italic fw-semibold">$ {{precio}}</span>
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    <div class="btn-group btn-group-sm" role="group"
                                                        aria-label="Small button group">
                                                        <div class="counter">
                                                            <span class="down"
                                                                onClick='decreaseCount(event, this)'>-</span>
                                                            <input  class="multiply" type="text" value="1" disabled>
                                                            <span class="up"
                                                                onClick='increaseCount(event, this)'>+</span>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" name="nombre" value="{{ nombre }}" />
                                                    <button
                                                        class="fs-xs text-gray-400 ms-auto mt-3 text-decoration-none bg-light border border-0">
                                                        <p class=" fw-bold text-danger">Quitar &raquo;</p>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            {{/each}}
                        </div>
                    </li>
                </ul>
            </div>
            <!-- END PRODUCTOS EN CARRITO -->
            <div class="col-12 col-md-5 col-lg-4 offset-lg-1">
                <div class="card mb-7 bg-light">
                    <div class="card-body">
                        <ul class="list-group list-group-sm list-group-flush-y list-group-flush-x">
                            <li class="list-group-item d-flex fs-lg fw-bold">
                                <span>Total</span>
                                <span class="ms-auto fs-sm">$ {{ valor }}</span>
                            </li>
                            <hr />
                            <div class="col-12 d-flex  align-items-center justify-content-center">
                                <button type="button" class="btn btn-lg btn-dark" data-bs-toggle="modal"
                                    data-bs-target="#Modal">
                                    Comprar
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h1 class="modal-title fs-5" id="ModalLabel">Rellena El Formulario
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <form action="comprar" method="post">
                                                <div class="modal-body">
                                                    <div class="text-start my-3">
                                                        <select class="form-select form-select-lg mb-3 fs-6" name="tipo"
                                                            aria-label="Default select example" required>
                                                            <option selected hidden>Tipo de Identificación</option>
                                                            <option value="C.C.">Cédula de Ciudadanía</option>
                                                            <option value="T.I.">Tarjeta de Identidad</option>
                                                            <option value="C.E">Cédula de Extranjería</option>
                                                            <option value="T.E">Tarjeta de Extranjería</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-floating text-start my-3">
                                                        <input type="number" name="cedula" class="form-control"
                                                            id="floatingInput" autocomplete="off" required>
                                                        <label for="floatingInput" aria-disabled="true">Número de
                                                            Identificación</label>
                                                    </div>
                                                    <div class="form-floating text-start my-3">
                                                        <input type="text" name="nombre" class="form-control"
                                                            id="floatingInput" autocomplete="off" required>
                                                        <label for="floatingInput" aria-disabled="true">Nombre</label>
                                                    </div>
                                                    <div class="form-floating text-start my-3">
                                                        <input type="text" name="apellido" class="form-control"
                                                            id="floatingInput" autocomplete="off" required>
                                                        <label for="floatingInput" aria-disabled="true">Apellido</label>
                                                    </div>
                                                    <div class="form-floating text-start my-3">
                                                        <input type="email" name="email" class="form-control"
                                                            id="floatingInput" autocomplete="off" required>
                                                        <label for="floatingInput" aria-disabled="true">Email</label>
                                                    </div>
                                                    <div class="form-floating text-start my-3">
                                                        <input type="number" name="telefono" class="form-control"
                                                            id="floatingInput" autocomplete="off" required>
                                                        <label for="floatingInput" aria-disabled="true">Número de
                                                            Teléfono</label>
                                                    </div>
                                                    <div class="form-floating text-start my-3">
                                                        <input type="text" name="direccion" class="form-control"
                                                            id="floatingInput" autocomplete="off" required>
                                                        <label for="floatingInput"
                                                            aria-disabled="true">Dirección</label>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-lg btn-outline-danger"
                                                        data-bs-dismiss="modal">Cancelar</button>
                                                    <button type="submit"
                                                        class="btn btn-lg btn-outline-dark">Comprar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {{else}}
        <div class="alert alert-danger mt-5" role="alert">
            <h4 class="fst-italic fw-semibold">No se han encontrado productos en tu carrito.</h4>
        </div>
        {{/if}}
    </div>
</div>