<!-- INICIO PRODUCTOS -->
<main>
    <div class="container">
        <h5 class="mx-5 fst-italic fw-semibold">
            <b id="bodies">BODIES</b>
        </h5>
        <hr />
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {{#each bodys}}
            <form action="/links/index" method="post">
                <div class="col">
                    <div class="card shadow-none">
                        <center>
                            <img src="/img/productos/Bodys/{{ img }}" width="300">
                        </center>
                        <div class="card-body">
                            <h4 class="card-title fst-italic">{{ nombre }}</h4>
                            <p class="card-text text-secondary">$ {{ precio }}</p>
                            <div class="d-flex justify-content-center align-items-center">
                                <input type="hidden" name="id" value="{{ id }}" />
                                <input type="hidden" name="id_categoria" value="{{ id_categoria }}" />
                                <input type="hidden" name="nombre" value="{{ nombre }}" />
                                <input type="hidden" name="precio" value="{{ precio }}" />
                                <input type="hidden" name="img" value="{{ img }}" />
                                <button class="btn btn-lg btn-outline-danger">Agregar al Carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {{/each}}
        </div>
        <br />
        <h5 class="mx-5 mt-5 fst-italic fw-semibold">
            <b id="croptops">CROP TOPS</b>
        </h5>
        <hr />
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {{#each croptops}}
            <form action="/links/index" method="post">
                <div class="col">
                    <div class="card shadow-sm">
                        <center>
                            <img src="/img/productos/CropTops/{{ img }}" width="300">
                        </center>
                        <div class="card-body">
                            <h4 class="card-title fst-italic">{{ nombre }}</h4>
                            <p class="card-text text-secondary">$ {{ precio }}</p>
                            <div class="d-flex justify-content-center align-items-center">
                                <input type="hidden" name="id" value="{{ id }}" />
                                <input type="hidden" name="id_categoria" value="{{ id_categoria }}" />
                                <input type="hidden" name="nombre" value="{{ nombre }}" />
                                <input type="hidden" name="precio" value="{{ precio }}" />
                                <input type="hidden" name="img" value="{{ img }}" />
                                <button class="btn btn-lg btn-outline-danger">Agregar al Carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {{/each}}
        </div>
        <br />
        <h5 class="mx-5 mt-5 fst-italic fw-semibold">
            <b id="legsm">LEGGINGS (S-M)</b>
        </h5>
        <hr />
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {{#each leggingsSM}}
            <form action="/links/index" method="post">
                <div class="col">
                    <div class="card shadow-sm">
                        <center>
                            <img src="/img/productos/LeggingsSM/{{ img }}" width="300">
                        </center>
                        <div class="card-body">
                            <h4 class="card-title fst-italic">{{ nombre }}</h4>
                            <p class="card-text text-secondary">$ {{ precio }}</p>
                            <div class="d-flex justify-content-center align-items-center">
                                <input type="hidden" name="id" value="{{ id }}" />
                                <input type="hidden" name="id_categoria" value="{{ id_categoria }}" />
                                <input type="hidden" name="nombre" value="{{ nombre }}" />
                                <input type="hidden" name="precio" value="{{ precio }}" />
                                <input type="hidden" name="img" value="{{ img }}" />
                                <button class="btn btn-lg btn-outline-danger">Agregar al Carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {{/each}}
        </div>
        <br />
        <h5 class="mx-5 mt-5 fst-italic fw-semibold">
            <b id="leglxl">LEGGINGS (L-XL)</b>
        </h5>
        <hr />
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {{#each leggingsLXL}}
            <form action="/links/index" method="post">
                <div class="col">
                    <div class="card shadow-sm">
                        <center>
                            <img src="/img/productos/LeggingsLXL/{{ img }}" width="300">
                        </center>
                        <div class="card-body">
                            <h4 class="card-title fst-italic">{{ nombre }}</h4>
                            <p class="card-text text-secondary">$ {{ precio }}</p>
                            <div class="d-flex justify-content-center align-items-center">
                                <input type="hidden" name="id" value="{{ id }}" />
                                <input type="hidden" name="id_categoria" value="{{ id_categoria }}" />
                                <input type="hidden" name="nombre" value="{{ nombre }}" />
                                <input type="hidden" name="precio" value="{{ precio }}" />
                                <input type="hidden" name="img" value="{{ img }}" />
                                <button class="btn btn-lg btn-outline-danger">Agregar al Carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {{/each}}
        </div>
        <br />
        <h5 class="mx-5 mt-5 fst-italic fw-semibold">
            <b id="tops">TOPS</b>
        </h5>
        <hr />
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {{#each tops}}
            <form action="/links/index" method="post">
                <div class="col">
                    <div class="card shadow-sm">
                        <center>
                            <img src="/img/productos/Tops/{{ img }}" width="300">
                        </center>
                        <div class="card-body">
                            <h4 class="card-title fst-italic">{{ nombre }}</h4>
                            <p class="card-text text-secondary">$ {{ precio }}</p>
                            <div class="d-flex justify-content-center align-items-center">
                                <input type="hidden" name="id" value="{{ id }}" />
                                <input type="hidden" name="id_categoria" value="{{ id_categoria }}" />
                                <input type="hidden" name="nombre" value="{{ nombre }}" />
                                <input type="hidden" name="precio" value="{{ precio }}" />
                                <input type="hidden" name="img" value="{{ img }}" />
                                <button class="btn btn-lg btn-outline-danger">Agregar al Carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {{/each}}
        </div>
        <br />
        <h5 class="mx-5 mt-5 fst-italic fw-semibold">
            <b id="conjuntos">CONJUNTOS</b>
        </h5>
        <hr />
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {{#each conjuntos}}
            <form action="/links/index" method="post">
                <div class="col">
                    <div class="card shadow-sm">
                        <center>
                            <img src="/img/productos/Conjuntos/{{ img }}" width="300">
                        </center>
                        <div class="card-body">
                            <h4 class="card-title fst-italic">{{ nombre }}</h4>
                            <p class="card-text text-secondary">$ {{ precio }}</p>
                            <div class="d-flex justify-content-center align-items-center">
                                <input type="hidden" name="id" value="{{ id }}" />
                                <input type="hidden" name="id_categoria" value="{{ id_categoria }}" />
                                <input type="hidden" name="nombre" value="{{ nombre }}" />
                                <input type="hidden" name="precio" value="{{ precio }}" />
                                <input type="hidden" name="img" value="{{ img }}" />
                                <button class="btn btn-lg btn-outline-danger">Agregar al Carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {{/each}}
        </div>
        <br />
        <h5 class="mx-5 mt-5 fst-italic fw-semibold">
            <b id="blusas">BLUSAS</b>
        </h5>
        <hr />
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {{#each blusas}}
            <form action="/links/index" method="post">
                <div class="col">
                    <div class="card shadow-sm">
                        <center>
                            <img src="/img/productos/Blusas/{{ img }}" width="300">
                        </center>
                        <div class="card-body">
                            <h4 class="card-title fst-italic">{{ nombre }}</h4>
                            <p class="card-text text-secondary">$ {{ precio }}</p>
                            <div class="d-flex justify-content-center align-items-center">
                                <input type="hidden" name="id" value="{{ id }}" />
                                <input type="hidden" name="id_categoria" value="{{ id_categoria }}" />
                                <input type="hidden" name="nombre" value="{{ nombre }}" />
                                <input type="hidden" name="precio" value="{{ precio }}" />
                                <input type="hidden" name="img" value="{{ img }}" />
                                <button class="btn btn-lg btn-outline-danger">Agregar al Carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {{/each}}
        </div>
        <br />
        <h5 class="mx-5 mt-5 fst-italic fw-semibold">
            <b id="enterizos">ENTERIZOS</b>
        </h5>
        <hr />
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {{#each enterizos}}
            <form action="/links/index" method="post">
                <div class="col">
                    <div class="card shadow-sm">
                        <center>
                            <img src="/img/productos/Enterizos/{{ img }}" width="300">
                        </center>
                        <div class="card-body">
                            <h4 class="card-title fst-italic">{{ nombre }}</h4>
                            <p class="card-text text-secondary">$ {{ precio }}</p>
                            <div class="d-flex justify-content-center align-items-center">
                                <input type="hidden" name="id" value="{{ id }}" />
                                <input type="hidden" name="id_categoria" value="{{ id_categoria }}" />
                                <input type="hidden" name="nombre" value="{{ nombre }}" />
                                <input type="hidden" name="precio" value="{{ precio }}" />
                                <input type="hidden" name="img" value="{{ img }}" />
                                <button class="btn btn-lg btn-outline-danger">Agregar al Carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {{/each}}
        </div>
    </div>
</main>
<!-- FIN PRODUCTOS -->